html {
  scroll-behavior: smooth;
  background-color: #333;
}

body {
  line-height: 1.7;
  font-size: 1em;
}


.topnav {
  position: relative;
  top: -20px;
  background-color: #333;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 5em;
  padding-top: 20px;
}

.topnav a {
  margin-right: 2.5em;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.08em;
}

.topnav a:hover {
  color: #00afa6;
  transition: 500ms;
}

.hero {
  background-color: #333333;
  background-image: url('');
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 0;
  border-bottom: 20px solid #00afa6;
}

.hero-main {
  display: flex;
  padding: 0 100px;
  margin: 0 100px;
  height: 80vh;
  font-family: 'Spartan', sans-serif;
}

.title {
  padding-top: 4em;
}

.title h2 {
  color: #00afa6;
  font-size: 1.6em;
  font-family: 'Nunito', sans-serif;
}
.title h1 {
  font-family: 'Nunito', sans-serif;
  color: white;
}

#profile {
  padding-top: 5em;
  padding-left: 5em;
  width: 35vw;
}

.about-main {
  display: flex;
  justify-content: center;
}

.about-statement {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-statement h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 5%;
}

.about-statement p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.about-skills {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 50em;
  width: 100vw;
}

.skills {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 28%;
  
}

.skills-title h1 {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1.5em;
  padding-top: 1.7em;
  color: #2b2b2b;
  padding-left: 44%;
}

.skills p {
  color: #131313;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.logo-icon {
  display: flex;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  
}
.logos {
  padding: 20px 22px;
}

.logos p {
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.projects {
  height: auto;
  width: 100vw;
  background-color:  #222222;
  margin-top: -23px;
}

.projects h1 {
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.projects-rows-dark {
  padding-top: 4em;
  background-color: #222222;
  height: 44em;
  padding-bottom: 8em;
  width: 100vw;
}

.projects-rows-light {
  padding-top: 4em;
  background-color: #00afa6;
  height: 44em;
  padding-bottom: 8em;
  width: 100vw;
}


.projects-title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.projects-image {
  border: 10px solid #c4c4c4;
  width: 90%;
  border-radius: 1rem;
}

.projects-description {
  /* width: 100%; */
  width: 70em;
  color: white;
  padding-top: 0.6em;
  margin-right: 2em;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  justify-content: left;
}

.project-row {
  margin : 0 10em;
  display: flex;
}


/* .light-projects-image {
  padding-left: 2em;
} */

.project-name h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.project-links {
  display: flex;
  margin-top: 1em;
}

.app-link {
  margin-left: 1.5em;
}


.contacts-container {
  height: 20em;
  width: 100vw;
  background-color: #333333;
  margin-top: -23px;
  display: block;
}

.contact-heading h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 0.6em;
  color: white;
  padding-left: 43%;
}

.icons-text {
  display: flex;
  padding-left: 44%;
}

.contact-icons {
  display: flex;
  flex-direction: column;
}
i.far.fa-envelope,
i.fab.fa-linkedin,
i.fab.fa-github {
  padding: 7px 4px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.contact-text a {
  color: white;
  font-weight: bold;
}

.contact-text {
  padding: 4px;
}

i.fas.fa-angle-double-up {
  font-size: 40px;
  display: flex;
  color: white;
  justify-content: flex-end;
  padding-right: 7%;
}
i.fas.fa-angle-double-up:hover {
  color: #00afa6;
  transition: 500ms;
}
  
