
html {
  scroll-behavior: smooth;
  background-color: #333; 
}

body {
  line-height: 1.7;
  font-size: 1em;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 5em;
  padding-top: 20px;
  box-sizing: border-box;
}

.navbar a {
  margin-right: 2.5em;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.08em;
}

.navbar a:hover {
  color: #00afa6;
  transition: 600ms;
}

.hero {
  background-color: #333333;
  color: rgb(255, 255, 255);
  height: 46em;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  border-bottom: 20px solid #00afa6;
  box-sizing: border-box;
}

.hero-main {
  display: flex;
  justify-content: center;
  padding: 1% 4%;
  height: 80vh;
  font-family: 'Spartan', sans-serif;
}

.title {

  padding-top: 8em;
}

.title h2 {
  color: #00afa6;
  font-size: 1.6em;
  font-family: 'Nunito', sans-serif;
  --animate-duration: 1800ms;
  --animate-delay: 0.9s;
}
.title h1 {
  font-family: 'Nunito', sans-serif;
  color: white;
  --animate-duration: 1800ms;
  --animate-delay: 0.9s;
}

#profile {
  padding-top: 20px;
  width: 80%;
}

.profile {
  width: 30em;
  padding-top: 40px;
}
.about-main {
  display: flex;
  justify-content: center;
}

.about-statement {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-statement h1 {
  color: #2b2b2b;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1.5em;
  padding-top: 0.7em; 
  text-align: center;
}

.about-statement p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.about-skills {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 50em;
  width: 100vw;
}

.skills {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 28%;
  
}

.skills-title h1 {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1.5em;
  padding-top: 1.7em;
  color: #2b2b2b;
  text-align: center;
}

.skills p {
  color: #131313;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.logo-icon {
  display: flex;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  
}
.logos {
  padding: 20px 22px;
}

.logos p {
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.projects {
  height: auto;
  width: 100vw;
  background-color:  #222222;
  margin-top: -23px;
}

.projects h1 {
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.projects-rows-dark {
  padding-top: 4em;
  background-color: #222222;
  height: 44em;
  padding-bottom: 8em;
  width: 100vw;
}

.projects-rows-light {
  padding-top: 4em;
  background-color: #00afa6;
  height: 44em;
  padding-bottom: 8em;
  width: 100vw;
}


.projects-title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.projects-image {
  border: 10px solid #c4c4c4;
  width: 90%;
  border-radius: 1rem;
}

.projects-description {

  width: 70em;
  color: white;
  padding-top: 0.6em;
  margin-right: 2em;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  justify-content: left;
}

.dark-project-row {
  margin : 0 10em;
  display: flex;
}
.light-project-row {
  margin : 0 10em;
  display: flex;
}

.project-name h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.project-links {
  display: flex;
  margin-top: 1em;
}

.app-link {
  margin-left: 1.5em;
}

.contacts-container {
  height: 22em;
  width: 100vw;
  background-color: #1a1a1a;
  margin-top: -23px;
  padding-top: 20px;
  display: block;
}

.contact-heading h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 0.6em;
  color: white;
  text-align: center;
}

.icons-text {
  display: flex;
  justify-content: center;
}

.contact-icons {
  display: flex;
  flex-direction: column;
}
i.far.fa-envelope,
i.fab.fa-linkedin,
i.fab.fa-github {
  padding: 7px 4px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.contact-text a {
  color: white;
  font-weight: bold;
}

.contact-text {
  padding: 4px;
}

i.fas.fa-angle-double-up {
  display: flex;
  color: #333;
  justify-content: flex-end;
  padding-right: 7%;
  text-decoration: none;
}
i.fas.fa-angle-double-up:hover {
  color: #c9007c;
  /* color: #008d86; */
  transition: 600ms;
  text-decoration: none;
}

.top-arrow {
  position: fixed;
  bottom: 10%;
  right: 8%;
}

a {
  text-decoration: none;
}
  
a:hover {
  text-decoration: none;
  color: #00afa6;
  transition: 500ms;
}


/* Mobile Version */

@media screen and (max-width: 500px) {
  body {
    text-align: center;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4px 0;
  }
  .navbar a{ 
    margin: 0 8px;
    font-size: 17px;
    padding: 3px;
  }
  .hero {
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 0;
  }
  .hero-main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .title h1 {
    padding: 5px 0;
    font-size: 32px;
  }
  .title h2 {
    font-size: 28px;
  }
  .profile {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 100%;
  }
  #profile {  
    margin: 0;
    padding: 0;
    width: 90%;
    
  }
  .about {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .about-statement {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }
  .about-statement p {
    text-align: start
  }
  .about-skills {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .skills {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }
  .logos {
    padding: 5px;
  }

  .dark-project-row {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .light-project-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
  }
  .projects-image {
    width: 380px;
    margin: 0;
    border: 4px solid rgb(190, 190, 190);
  }
  .projects-description {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 25px;
    font-size: 18px;
    text-align: start;
  }
  .projects-rows-dark {
    height: auto;
  }
  .projects-rows-light {
    height: auto;
  }
  .project-links {
    justify-content: center;
  }
  i.fas.fa-angle-double-up {
    display: none;
  }
  .contact-text {
    text-align: start;
  }

}