
body {
  line-height: 1.7;
  font-size: 1em;
}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  top: -20px;
  background-color: #333;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 10em;
  padding-top: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  margin-right: 2.5em;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.08em;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: #00afa6;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #00afa6;
}

.hero {
  background-color: #333;
  background-image: url('');
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 0;
  border-bottom: 20px solid #00afa6;
}

.hero-main {
  padding: 0 100px;
  margin: 0 100px;
  height: 80vh;
  font-family: 'Spartan', sans-serif;
}

.about {
  height: 35em;
}

.about-main {
  display: flex;
  /* border: 1px dashed rgb(0, 132, 165); */
  padding: 0 100px;
  /* margin: 0 100px; */
  /* height: 100vh; */
  font-family: 'Spartan', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.title {
  padding-top: 4em;
}

.title h2 {
  color: #00afa6;
  font-size: 1.6em;
  font-family: 'Nunito', sans-serif;
}
.title h1 {
  font-family: 'Nunito', sans-serif;
  color: white;
}

.about-main {
  display: flex;
  justify-content: center;
}

.about-statement {
  width: 35em;
  padding-top: 4em;
  padding-bottom: 4em;
}

.about-statement h2 {
  font-family: 'Nunito', sans-serif;
  /* letter-spacing: 0.14em; */
  font-weight: bold;
  font-size: 1.5em;
}

.about-statement p {
  font-family: 'Quicksand', sans-serif;
}

.about-skills {
  /* padding: 4em 10em; */
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40em;
  width: 100vw;
}
.skills {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20em;
  
}

.skills-title h1 {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1.1em;
  padding-top: 1.5em;
  color: #131313;
}

.skills p {
  color: #131313;
  font-family: 'Quicksand', sans-serif;
}

.logo-icon {
  display: flex;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  
}
.logos {
  padding: 10px 10px;
}

.logos p {
  display: flex;
  font-size: 15px;
  justify-content: center;
  /* padding: 0 10px; */
}

.projects {
  height: auto;
  width: 100vw;
  background-color: #1f1f1f;
  margin-top: -23px;
}

.projects h1 {
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: 'Nunito', sans-serif;
  /* letter-spacing: 0.05em; */
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  border-top: 10px solid #292929
  /* text-decoration: underline; */
}

.projects-rows-dark {
  width: 100vw;
  background-color: #1f1f1f;
  /* padding: 0 3em; */
  height: auto;
  /* margin : 0 10em; */
  padding-bottom: 8em;
  width: 100vw;
}

.projects-rows-light {
  padding-top: 4em;
  background-color: #00afa6;
  height: auto;
  /* margin : 0 10em; */
  padding-bottom: 8em;
  width: 100vw;
}

.projects-title {
  margin-bottom: 4em;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  /* letter-spacing: 0.14em; */
}

.projects-image {
  border: 10px solid #c4c4c4;
  width: 90%;
  border-radius: 1rem;
}

.projects-description {
  /* border: 1px dashed rgb(43, 0, 199); */
  width: 100%;
  /* padding: 0 1em; */
  color: white;
  padding-top: 0.6em;
  margin-right: 2em;
  align-content: flex-end;
}

.project-row {
  margin : 0 10em;
  /* border: 1px dashed red; */
  display: flex;
}

.projects-description p {
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  justify-content: left;
}

.light-projects-image {
  padding-left: 2em;
}

.project-name h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.project-links {
  display: flex;
  margin-top: 1em;
}

.app-link {
  margin-left: 1.5em;
}


.contact {
  height: 20em;
  width: 100vw;
  background-color: rgb(233, 233, 233);
  padding-left: 5em;
  margin-top: -23px;
}

.contact h1 {
  padding-top: 1em;
}