body {
  line-height: 1.5;
  font-size: 1em;
}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  top: -20px;
  background-color: #333;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 10em;
  padding-top: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  margin-right: 2.5em;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Spartan', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: #0096c4;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #0096c4;
}

.hero {
  background-color: #333333;
  color: white;
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 0;
  border-bottom: 20px solid #0096c4;
}

.hero-main {
  /* border: 1px dashed rgb(0, 132, 165); */
  padding: 0 100px;
  margin: 0 100px;
  height: 80vh;
  font-family: 'Spartan', sans-serif;
  
}

.about {
  height: 100vh;
}

.about-main {
  display: flex;
  /* border: 1px dashed rgb(0, 132, 165); */
  padding: 0 100px;
  /* margin: 0 100px; */
  height: 100vh;
  font-family: 'Spartan', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.title {
  padding-top: 4em;
}

.about-main {
  display: flex;
  justify-content: center;
}

.about-statement {
  width: 30em;
  padding-top: 20px;
}

.about-skills {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.skills {
  display: flex;
  flex-direction: row;
}

.logo-icon {
  display: flex;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  
}

.logos {
  /* height: 120px; */
  
}

.logos p {
  display: flex;
  font-size: 15px;
  justify-content: center;
}
