
html {
  scroll-behavior: smooth;
  background-color: #333; 
}

body {
  line-height: 1.7;
  font-size: 1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30px;
  left: 0;
  right: 0;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 0 50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.08em;
}

.navbar a:hover {
  color: #00afa6;
  transition: 600ms;
}

.hero {
  border-bottom: 18px solid #00afa6;
  box-sizing: border-box;
}

.hero-container {
  background-image: linear-gradient(to bottom, #1f1f22e8, #28282ce5), url("london.jpg");
  background-size: cover;
  position: relative;
  height: 98vh;
}

.hero-headings h1 {
  position: absolute;
  top: 40%;
  left: 20%;
  color: #ffffff;
  background-color: #141414;
  border-radius: 7px;
  font-family: 'Nunito', sans-serif;
  opacity: 0.6;
  padding: 5px 10px;
}
.hero-headings h2 {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #ffffff;
  background-color: #141414;
  border-radius: 7px;
  font-family: 'Nunito', sans-serif;
  opacity: 0.6;
  padding: 5px 10px;
}

.profile {
  position: absolute;
  top: 30%;
  right: 20%;
}

#profile {
  width: 400px;

}

.about-main {
  display: flex;
  justify-content: center;
}

.about-statement {
  padding-left: 0;
  padding-right: 0;
  
}

.about-text {
  padding-left: 20em;
  padding-right: 20em;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-statement h1 {
  color: #2b2b2b;
  font-family: 'Nunito', sans-serif;
  
  padding-top: 2em; 
  text-align: center;
}

.about-statement p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.about-skills {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 50em;
  width: 100vw;
}

.skills {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 28%;
  justify-content: center;
}

.skills-title h1 {
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1.5em;
  padding-top: 1.7em;
  color: #2b2b2b;
  text-align: center;
}

.skills p {
  color: #131313;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.logo-icon {
  display: flex;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  
}
.logos {
  padding: 20px 22px;
  justify-content: center;
}

.logos p {
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.projects {
  height: auto;
  background-color:  #222222;
  margin-top: -23px;
}

.projects h1 {
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.projects-rows-dark {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 4em;
  background-color: #222222;
  height: 44em;
  padding-bottom: 8em;
}

.projects-rows-light {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 4em;
  background-color: #00afa6;
  height: 44em;
  padding-bottom: 8em;
}

.projects-title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.projects-image {
  justify-content: center;
  border: 10px solid #c4c4c4;
  width: 630px;
  height: 370px;
  border-radius: 1rem;
}

.projects-description {

  width: 80em;
  color: white;
  margin-left: 40px;
  margin-top: 15px;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  justify-content: flex-start
}

.dark-project-row {
  margin : 0 7em;
  display: flex;
}
.light-project-row {
  margin : 0 7em;
  display: flex;
}

.project-name h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.project-links {
  display: flex;
  margin-top: 1em;
  
}

.app-link {
  margin-left: 1.5em;
}

.contacts-container {
  height: 22em;
  background-color: #1a1a1a;
  margin-top: -23px;
  padding-top: 20px;
  display: block;
}

.contact-heading h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 0.6em;
  color: white;
  text-align: center;
}

.icons-text {
  display: flex;
  justify-content: center;
}

.contact-icons {
  display: flex;
  flex-direction: column;
}
i.far.fa-envelope,
i.fab.fa-linkedin,
i.fab.fa-github {
  padding: 7px 4px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.contact-text a {
  color: white;
  font-weight: bold;
}

.contact-text {
  padding: 4px;
}

i.fas.fa-angle-double-up {
  display: flex;
  color: #333;
  justify-content: flex-end;
  padding-right: 1em;
  text-decoration: none;
}
i.fas.fa-angle-double-up:hover {
  /* color: #c9007c; */
  color: #008d86;
  transition: 600ms;
  text-decoration: none;
}

.top-arrow {
  position: fixed;
  bottom: 10%;
  right: 3%;
}

a {
  text-decoration: none;
}
  
a:hover {
  text-decoration: none;
  color: #00afa6;
  transition: 500ms;
}


/* Mobile Version  */

@media only screen and (max-width: 736px) {

  section,
  body {
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
  }
  body,
  html {
    background-color: 333;
  }
  .navbar {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 4px 0;
  }
  .navbar a{ 
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
  }

  .hero-headings h1 {
    left: 13%;
    font-size: 30px;
  }
  .hero-headings h2 {
    left: 13%;
    font-size: 23px;
  }

  #profile {
    display: none;
  }

  .about {
    padding: 0;
    margin: 0;
  }

  .about-main {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .about-text {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
  p {
    text-align: start;
    padding: 0 40px;
  }
  .about-skills {
    height: 100%;
    padding: 0;
    margin: 0;
    
  }
  .skills {
    height: auto;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
    margin: 0;
  }
  .logos {
    padding: 7px;
    width: 130px;

  }
  .logos p {
    display: flex;
    font-size: 18px;
    justify-content: center;
  }

  svg {
    width: 35px;
  }

  img {
    width: 35px;
  }
  .projects-title {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .project-name {
    padding: 0;    
  }

  .project-name h3 {
    font-size: 22px;
  }

  .dark-project-row {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .light-project-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .projects-image {
    width: 23em;
    height: 240px;
    margin: 0;
    border: 2px solid silver;
    border-radius: 10px;
  }
  .projects-description {
    display: flex;
    flex-direction: column;
    width: 25em;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    font-size: 18px;
    text-align: left;
  }
  .projects-rows-dark {
    height: auto;
    padding-bottom: 4em;
  }
  .projects-rows-light {
    height: auto;
    padding-bottom: 4em;
  }
  .project-links {
    justify-content: center;
  }
  i.fas.fa-angle-double-up {
    position: fixed;
    right: 2px;
    padding-right: 10px;
    font-size: 18px;
  }
  .contact-text {
    text-align: left;
  }

}

/* Tablets Portrait */
 @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  section,
  body {
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
  }
  body,
  html {
    background-color: 333;
  }

  .hero-container {
    height: 99vh;
  }

  .hero-headings h1 {
    display: absolute;
    top: 30%;
  }
  .hero-headings h2 {
    display: absolute;
    top: 38%;
  }
  .profile {
    position: absolute;
    top: 50%;
    right: 28%;
  }
  #profile {
    width: 350px;
    
  }

  .about-text {
    padding-left: 5em;
    padding-right: 5em;
  }
  .skills {
    padding: 0 8%;
  }

  .projects-image {
    width: 600px;
  }
  .projects-rows-dark {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  
  .projects-rows-light {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  .dark-project-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .light-project-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects-description {
    display: flex;
    flex-direction: column;
    width: 33em;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    font-size: 18px;
    text-align: left;
  }
  .project-links {
    justify-content: center;
  }
  
} 

   /* Tablets Landscape */
/* @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

html,
body {
  padding: 0;
  margin: 0;
}
.profile {
  top: 30%;
  right: 14%;
}
.profile img {
  max-width: 250px;
}
.hero-headings h1 {
  font-size: 30px;
  top: 44%;
}
.hero-headings h2 {
  font-size: 28px;
  top: 49%;
}
.hero-container {
  height: 768px;
}



} */