
body {
	line-height: 1.7;
	font-size: 1em;
}
.topnav {
	position: relative;
	top: -20px;
	background-color: #333;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	padding-right: 10em;
	padding-top: 20px;
	a {
		margin-right: 2.5em;
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 300;
		font-family: 'Spartan', sans-serif;
		&:hover {
			color: #00afa6;
		}
	}
	a.active {
		color: #00afa6;
	}
}
.hero {
	background-color: #333;
	background-image: url('');
	color: rgb(255, 255, 255);
	height: 97vh;
	width: 100vw;
	flex-grow: 1;
	flex-shrink: 0;
	border-bottom: 20px solid #00afa6;
}
.hero-main {
	padding: 0 100px;
	margin: 0 100px;
	height: 80vh;
	font-family: 'Spartan', sans-serif;
}
.about {
	height: 35em;
}
.about-main {
	display: flex;
	padding: 0 100px;
	font-family: 'Spartan', sans-serif;
	display: flex;
	justify-content: center;
}
p {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}
.title {
	padding-top: 4em;
	h2 {
		color: #00afa6;
		font-size: 1.6em;
	}
}
.about-statement {
	width: 35em;
	padding-top: 4em;
	padding-bottom: 4em;
	h2 {
		font-family: 'Spartan', sans-serif;
		font-weight: bold;
		font-size: 1.5em;
	}
}
.about-skills {
	background-color: #e6e6e6;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 40em;
	width: 100vw;
}
.skills {
	background-color: #e6e6e6;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 20em;
	p {
		color: #131313;
	}
}
.skills-title {
	h1 {
		padding-bottom: 1.1em;
		padding-top: 1.5em;
		color: #131313;
	}
}
.logo-icon {
	display: flex;
	margin: 0 10px;
	width: 60px;
	height: 60px;
}
.logos {
	padding: 10px 10px;
	p {
		display: flex;
		font-size: 15px;
		justify-content: center;
	}
}
.projects {
	height: 60em;
	width: 100vw;
	background-color: #1d1d1d;
	margin-top: -23px;
	h1 {
		padding-top: 2em;
		color: rgb(255, 255, 255);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.projects-display {
	height: 40em;
	border: 7px solid #a1a1a1;
	margin: 0 9em;
	border-radius: 20px;
}
.contact {
	height: 20em;
	width: 100vw;
	background-color: rgb(233, 233, 233);
	padding-left: 5em;
	margin-top: -23px;
	h1 {
		padding-top: 1em;
	}
}
